@charset "utf-8";

/* 
@keyframes test {
  0% {
    opacity: 0;
    transform: translate3d(200px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0);
  }
} */

/* @keyframes best {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */



body {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.inner {
  max-width: calc(100% - 20.975vw);
  margin: 0 auto;
}

/* 지정된 크기 */
.inner_100 {
  max-width: 100%;
  margin: 0 auto;
}

video {
  max-width: 100%;
}

/* 100% */

@media (max-width:768px) {

  html.fp-enabled,
  .fp-enabled body {
    overflow-x: hidden !important;
  }

  .inner {
    max-width: calc(100% - 40px);
  }

}


#sub_visual h2 {
  color: #EFEFE4;
  font-size: 15rem;
}

#sub_visual .inner_100 {
  position: relative;
}

#sub_visual h2:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
}

#sub_visual h2:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sub_visual h2:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
}


@media (max-width:768px) {

  #sub_visual h2 {
    font-size: 4rem;
  }

  #sub_visual h2:nth-child(1) {
    position: absolute;
    left: 0;
    top: 30%;
  }


  #sub_visual h2:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 30%;
  }
}





#sustainability {
  color: #EFEFE4;
}

#sustainability .swiper-slide {
  position: relative;
}

#sustainability h2 {
  font-size: 15rem;
  position: absolute;
  left: 0;
  top: 0;
}

#sustainability .swiper-slide {
  height: 100vh;
}

#sustainability .textbox p:nth-child(1) {
  font-size: 5rem;
  padding-bottom: 5%;
}

#sustainability>.textbox>p {
  font-size: 2.4rem;
}

#sustainability .swiper-slide:nth-child(1) .textbox .left {
  position: absolute;
  left: 10vw;
  top: 15vw;
}

#sustainability .swiper-slide:nth-child(1) .textbox .right {
  text-align: right;
  position: absolute;
  right: 20%;
  top: 50%;
}

#sustainability .swiper-slide:nth-child(2) .textbox .left {
  position: absolute;
  left: 5vw;
  top: 25vw;
  z-index: 999;
}

#sustainability .swiper-slide:nth-child(2) .textbox .right {
  position: absolute;
  right: 0;
  top: 18vw;
}

#sustainability .swiper-slide:nth-child(3) .textbox .left {
  text-align: right;
  position: absolute;
  left: 0;
  top: 18vw;
}


#sustainability .swiper-slide:nth-child(3) .textbox .right {
  text-align: right;
  position: absolute;
  right: 5vw;
  top: 25vw;
}


#sustainability .swiper-slide:nth-child(4) .textbox .left {
  text-align: right;
  position: absolute;
  left: 0;
  top: 18vw;
}


#sustainability .swiper-slide:nth-child(4) .textbox .right {
  text-align: right;
  position: absolute;
  right: 5vw;
  top: 25vw;
}

#sustainability .swiper-slide:nth-child(5) .textbox .left {
  position: absolute;
  left: 5vw;
  top: 25vw;
  z-index: 99;
}


#sustainability .swiper-slide:nth-child(5) .textbox .right {
  text-align: right;
  position: absolute;
  right: 0;
  top: 13vw;
}



#sustainability .swiper-slide:nth-child(6) {
  padding-top: 200px;
}

#sustainability .swiper-slide:nth-child(6) .paragraph {
  background: #282622;
}

#sustainability .swiper-slide:nth-child(6) .paragraph p {
  font-style: italic;
  text-align: center;
  letter-spacing: -3px;
  font-size: 12.8rem;
  font-family: 'Optima', serif;
  font-weight: 400;
}

#sustainability .swiper-slide:nth-child(6) .paragraph .span {
  transform: translateX(35%);
  font-size: 6rem;
}

@media (max-width:768px) {

  #sustainability h2 {
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 50px;
  }


  #sustainability .textbox p:nth-child(1) {
    font-size: 4rem;
    padding-bottom: 5%;
  }

  #sustainability>.textbox>p {
    font-size: 2.4rem;
  }

  #sustainability .swiper-slide:nth-child(1) .textbox .left {
    position: absolute;
    left: 0;
    top: 100px;
    display: flex;
    justify-content: space-between;
  }

  #sustainability .swiper-slide:nth-child(1) .textbox .left img {
    width: calc(100% / 2);
    padding: 20px;
  }

  #sustainability .swiper-slide:nth-child(2) .textbox .left {
    left: 5vw;
    top: 200px;
  }

  #sustainability .swiper-slide:nth-child(2) .textbox .right {
    right: 0;
    top: 500px;
  }

  #sustainability .swiper-slide:nth-child(3) .textbox .left {
    left: 10px;
    top: 500px;
  }


  #sustainability .swiper-slide:nth-child(3) .textbox .right {
    right: 10px;
    top: 200px;
  }


  #sustainability .swiper-slide:nth-child(4) .textbox .left {
    left: 0;
    top: 500px;
  }


  #sustainability .swiper-slide:nth-child(4) .textbox .right {
    right: 10px;
    top: 200px;
  }

  #sustainability .swiper-slide:nth-child(5) .textbox .left {
    position: absolute;
    left: 5vw;
    top: 200px;
    z-index: 99;
  }


  #sustainability .swiper-slide:nth-child(5) .textbox .right {
    text-align: right;
    position: absolute;
    right: 0;
    top: 500px;
  }



  #sustainability .swiper-slide:nth-child(6) {
    padding-top: 200px;
  }

  #sustainability .swiper-slide:nth-child(6) .paragraph {
    background: #282622;
  }

  #sustainability .swiper-slide:nth-child(6) .paragraph p {
    font-size: 5rem;
  }

  #sustainability .swiper-slide:nth-child(6) .paragraph .span {
    font-size: 3rem;
  }


}




#design {
  color: #EFEFE4
}

#design .swiper-slide {
  height: 100vh;
}

#design .swiper-slide a {
  font-size: 10rem;
  color: #EFEFE4;
  padding: 100px 0;
}

#design .swiper-slide:nth-child(1) .textbox {
  padding: 300px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#design .swiper-slide .textbox p {
  padding-bottom: 50px;
}


#design .swiper-slide .textbox h2 {
  font-size: 15rem;
}

#design .swiper-slide .textbox h4 {
  font-size: 4.8rem;
}

#design .swiper-slide .textbox .right {
  text-align: right;
}


#design .swiper-slide:nth-child(2) .textbox {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


#design .swiper-slid:nth-child(2) .textbox .right img {
  width: 100%;
}

#design .swiper-slide:nth-child(3) .textbox {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#design .swiper-slide:nth-child(4) {
  padding-top: 200px;
}

#design .swiper-slide:nth-child(4) .paragraph {
  background: #EFEFE4;
  color: #282622;
}

#design .swiper-slide:nth-child(4) p {
  font-style: italic;
  text-align: center;
  letter-spacing: -3px;
  font-size: 12.8rem;
  font-family: 'Optima', serif;
  font-weight: 400;
}

#design .swiper-slide:nth-child(4) .span {
  transform: translateX(35%);
  font-size: 6rem;
}

@media (max-width:768px) {

  #design {
    color: #EFEFE4
  }
  
  #design .swiper-slide {
    height: 100vh;
  }
  
  #design .swiper-slide a {
    font-size: 3rem;
  }

  #design .swiper-slide .textbox p {
    padding-bottom: 10px;
  }
  
  #design .swiper-slide:nth-child(1) .textbox {
    padding: 100px 20px;
    justify-content: center;
  }
  
  #design .swiper-slide .textbox h2 {
    font-size: 6rem;
  }
  
  #design .swiper-slide .textbox h4 {
    font-size: 4rem;
  }
  
  #design .swiper-slide:nth-child(2) .textbox {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  
  

  
  #design .swiper-slide:nth-child(3) .textbox {
    padding: 30px 10px;
    justify-content: center;
  }
 
  #design .swiper-slide:nth-child(3) .left {
    width: 50%;
    padding: 10px;
  }

  

  #design .swiper-slide:nth-child(4) {
    padding-top: 200px;
  }
  
  #design .swiper-slide:nth-child(4) .paragraph {
    background: #EFEFE4;
    color: #282622;
  }
  
  #design .swiper-slide:nth-child(4) p {
    font-style: italic;
    text-align: center;
    letter-spacing: -3px;
    font-size: 5rem;
    font-family: 'Optima', serif;
    font-weight: 400;
  }
  
  #design .swiper-slide:nth-child(4) .span {
    transform: translateX(15%);
    font-size: 3rem;
  }


}







#partnership {
  color: #EFEFE4;
  padding: 0 200px;
}

#partnership ul li {
  font-size: 3rem;
  padding-bottom: 5px;
}

#partnership p {
  text-align: right;
  font-size: 3rem;
}

#partnership h2 {
  text-align: right;
  font-size: 15rem;
}

@media (max-width:768px) {
  #partnership {
    padding: 20px;
  }
  
  #partnership ul li {
    font-size: 2rem;
    padding-bottom: 5px;
  }
  
  #partnership p {
    text-align: right;
    font-size: 2rem;
  }
  
  #partnership h2 {
    text-align: right;
    font-size: 5rem;
  }

}