@charset "utf-8";

/* 
@keyframes test {
  0% {
    opacity: 0;
    transform: translate3d(200px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0);
  }
} */

/* @keyframes best {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */



body {
  font-family: 'Nanum Myeongjo', 'Optima';
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.inner {
  max-width: calc(100% - 20.975vw);
  margin: 0 auto;
}

/* 지정된 크기 */
.inner_100 {
  max-width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* 100% */


@media (max-width:768px) {

  html.fp-enabled,
  .fp-enabled body {
    overflow-x: hidden !important;
  }

  .inner {
    max-width: calc(100% - 40px);
  }

}


#sub_visual {
  background: url('../images/sub/store/store-detail-visual.png') no-repeat left 0;
  background-color: #EFEFE4;
  position: relative;
}

#sub_visual .inner_100 {
  position: relative;
  height: 100vh;
}

#sub_visual h2 {
  font-size: 15rem;
  font-weight: 500;
  letter-spacing: -3px;
  position: absolute;
  left: 3%;
  top: 10vw;
  font-family: 'Optima', serif;
  font-weight: 400;
  z-index: 99999;
}

#sub_visual .intro_box .left {
  position: absolute;
  left: 3vw;
  top: 27vw;
  width: 40vw;
}

#sub_visual .intro_box .right {
  width: 45vw;
  padding: 0 100px;
  position: absolute;
  right: 5vw;
  top: 23vw;
}

#sub_visual .intro_box .right h3 {
  font-size: 3.6rem;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

#sub_visual .intro_box .right .icon {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 40px;

}


#sub_visual .intro_box .right p {
  padding: 10px 0;
  font-size: 2rem;
  border-bottom: 1px solid #000;
}


@media (max-width:768px) {
  #sub_visual .inner_100 {
    height: 130vh;
  }

  #sub_visual h2 {
    font-size: 5rem;
    top: 70vw;
  }

  #sub_visual .intro_box .left {
    position: absolute;
    left: 0;
    top: 100vw;
    width: 100vw;
    padding: 0 20px;
  }

  #sub_visual .intro_box .right {
    width: 100vw;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 150vw;
  }

  #sub_visual .intro_box .right h3 {
    font-size: 3rem;
  }

  #sub_visual .intro_box .right .icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 20px 150px;

  }


  #sub_visual .intro_box .right p {
    padding: 5px 0;
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
  }


}








#description {
  background: #EFEFE4;
}

#description .swiper-slide {
  background: #03462a;
  position: relative;
  height: 100vh;
}

#description .swiper-slide:nth-child(1) {
  padding: 13% 0;
}

#description .swiper-slide:nth-child(1) h2 {
  font-size: 3.6rem;
  text-align: center;
}

#description .swiper-slide:nth-child(1) .contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#description .swiper-slide:nth-child(1) .contents {
  padding: 100px 0;
}

#description .swiper-slide:nth-child(1) .contents .right {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  width: 50vw;
}

#description .swiper-slide:nth-child(1) .contents ul {
  width: 15vw;
  padding-right: 20px;
}

#description .swiper-slide:nth-child(1) .contents ul li {
  padding-bottom: 20px;
  color: #EFEFE4;
}



#description .swiper-slide:nth-child(2) .contents_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

#description .swiper-slide:nth-child(2) .contents_box ul {
  width: 16.5vw;
  font-size: 1.8rem;
}

#description .swiper-slide:nth-child(2) .contents_box ul li {
  padding-bottom: 20px;
  color: #EFEFE4;
}

#description .swiper-slide:nth-child(2) .contents_box img {
  padding-top: 5%;
}



#description .swiper-slide:nth-child(3) .contents_box img:nth-child(2) {
  position: absolute;
  top: 20%;
  right: 10%;
}


#description .swiper-slide:nth-child(4) img {
  transform: translateY(30%);
}


@media (max-width:768px) {
  #description .swiper-slide {
    background: #03462a;
    position: relative;
    height: 130vh;
  }

  #description .swiper-slide:nth-child(1) {
    padding: 10% 0;
  }

  #description .swiper-slide:nth-child(1) h2 {
    font-size: 2.3rem;
    text-align: center;
  }

  #description .swiper-slide:nth-child(1) .contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #description .swiper-slide:nth-child(1) .contents {
    padding: 40px 0;
  }

  #description .swiper-slide:nth-child(1) .contents .right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.6rem;
    width: 100vw;
  }

  #description .swiper-slide:nth-child(1) .contents ul {
    width: 100vw;
    padding: 20px;
  }



  #description .swiper-slide:nth-child(2) {
    padding: 100px 0;
  }

  #description .swiper-slide:nth-child(2) .contents_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  #description .swiper-slide:nth-child(2) .contents_box ul {
    width: 90vw;
    font-size: 1.6rem;
  }


  #description .swiper-slide:nth-child(2) .contents_box img {
    padding-top: 5%;
  }


  #description .swiper-slide:nth-child(3) .contents_box img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 0;
  }


  #description .swiper-slide:nth-child(3) .contents_box img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
  }


  #description .swiper-slide:nth-child(4) img {
    transform: translateY(250%);
  }


}